@font-face {
  font-family: gilda;
  src: url(../fonts/GildaDisplay-Regular.ttf);
  font-weight: 200 700;
}
@font-face {
  font-family: barlow;
  src: url(../fonts/BarlowCondensed-Regular.ttf);
  font-weight: 300 700;
}
h1,
h2,
h3,
h4 {
  font-family: gilda;
  font-weight: 400;
  line-height: 1.5;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  font-family: barlow;
  line-height: 1.5;
}
#title {
  font-size: 55px;
}
#titre {
  z-index: 3;
}

#navbar {
  z-index: 2;
  position: sticky;
  top: 2px;
  font-family: barlow;
}
span {
  color: burlywood;
  font-size: 50px;
}
footer .btn {
  object-position: center;
}
footer a {
  object-position: end;
}

/* input:invalid {
  border: 2px dashed red;
}

text:invalid {
  border: 2px dashed red;
} */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid red;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 10%;
}

th,
td {
  padding: 10px;
}

p {
  padding-block: 3px;
  padding-left: 3px;
}